<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Exam Slammr</title>
    <th:block th:remove="all">
        <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.3.1/css/all.css"/>
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,300,600&amp;subset=latin,latin-ext" type="text/css" media="all"/>
        <link rel="stylesheet" href="../static/css/styles.css" type="text/css" media="screen"/>
    </th:block>
</head>
<body>

<header id="top-bar">
    <div class="container">
        <h1><a href="./home.html">Exam Slammr</a></h1>
        <form id="search" autocomplete="off" role="search">
            <input name="q" placeholder="Search ..." type="text"/>
            <button type="submit" aria-label="Search ...">
                <span class="fa fa-search" aria-hidden="true"></span>
            </button>
        </form>
        <ol>
            <li class="ctas">
                <a href="./auth/login.html" class="primary">Login</a>
                <a href="./auth/registration.html" class="secondary">Register</a>
            </li>
            <li class="user-profile-actions">
                <i class="far fa-user">
                    <ul>
                        <li>
                            <i class="far fa-edit"></i>
                            <a href="#">Profile</a>
                        </li>
                        <li>
                            <i class="fas fa-sign-out-alt"></i>
                            <form method="POST">
                                <button type="submit">Logout</button>
                            </form>
                        </li>
                    </ul>
                </i>
            </li>
        </ol>
    </div>
</header>

<div layout:fragment="content">
    <section class="home hero register" sec:authorize="isAnonymous()">
        <div class="container">
            <article class="explanation">
                <h2>Study, practice, learn and share</h2>
                <p>Demonstrate and share your knowledge with the community by creating questions.<br/>
                    Earn kudos from your peers by creating great questions.</p>
                <p>Prepare for exams and certifications by choosing and attempting questions.</p>
            </article>
            <article class="action">
                <h2>Sign Up using your social identity</h2>
                <ul>
                    <form th:action="@{/auth/linkedin}" method="POST">
                        <input type="hidden" name="scope" value="r_basicprofile,r_emailaddress"/>
                        <button type="submit">
                            <i class="fab fa-linkedin"></i>
                            Linkedin
                        </button>
                    </form>
                    <form th:action="@{/auth/facebook}" method="POST">
                        <input type="hidden" name="scope" value="public_profile,email"/>
                        <button type="submit">
                            <i class="fab fa-facebook-f"></i>
                            Facebook
                        </button>
                    </form>
                    <form th:action="@{/auth/twitter}" method="POST">
                        <button type="submit">
                            <i class="fab fa-twitter"></i>
                            Twitter
                        </button>
                    </form>
                </ul>
                <p class="subtext">By Signing Up, you acknowledge that you have read our <a href="#">terms of service</a>, <a href="#">privacy policy</a> and <a href="#">cookie policy</a>,
                    and that your continued use of the website is subject to these policies.</p>
            </article>
        </div>
        <div class="for-business">
            <div class="container">
                <h4>Exam Slammr For Business: curate your own collections of questions to use in technical interviews. <a href="#">Learn more</a></h4>
            </div>
        </div>
    </section>

    <div class="home container">
        <div class="left">
            <section class="sticky-left-nav">
                <p>blah</p>
                <p>blah</p>
                <p>blah</p>
                <p>blah</p>
                <p>blah</p>
            </section>
        </div>
        <section class="main-content">
            <a href="./question/create.html" th:href="@{/question/new}">Create Question</a>
            <p>blah</p>
            <p>blah</p>
            <p>blah</p>
            <p>blah</p>
            <p>blah</p>
            <p>blah</p>
            <p>blah</p>
            <p>blah</p>
            <p>blah</p>
            <p>blah</p>
            <p>blah</p>
            <p>blah</p>
            <p>blah</p>
            <p>blah</p>
            <p>blah</p>
            <p>blah</p>
            <p>blah</p>
            <p>blah</p>
            <p>blah</p>
            <p>blah</p>
            <p>blah</p>
            <p>blah</p>
            <p>blah</p>
            <p>blah</p>
            <p>blah</p>
            <p>blah</p>
            <p>blah</p>
            <p>blah</p>
            <p>blah</p>
            <p>blah</p>
            <p>blah</p>
            <p>blah</p>
            <p>blah</p>
            <p>blah</p>
            <p>blah</p>
        </section>
    </div>
</div>

<script src="//code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
