body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  margin: 0;
}

#app {
}

header {
  background-color: #f0ffff;
  border-bottom: #808080 solid 1px;

  a:hover {
    text-decoration: none;
  }

  h1 {
    display: inline-block;
    width: 50%;
  }

  #user-concern {
    display: inline-block;
    width: 50%;

    div {
      display: flex;
      justify-content: flex-end;
      a {
        border: #333333 solid 1px;
      }
    }
  }
}

