<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Exam Slammr</title>
    <head>
        <title>Exam Slammr</title>
        <th:block th:remove="all">
            <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
            <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.3.1/css/all.css"/>
            <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,300,600&amp;subset=latin,latin-ext" type="text/css" media="all"/>
            <link rel="stylesheet" href="../../static/css/styles.css" type="text/css" media="screen"/>
        </th:block>
    </head>
</head>
<body>

<header id="top-bar">
    <div class="container">
        <h1><a href="../home.html">Exam Slammr</a></h1>
        <form id="search" autocomplete="off" role="search">
            <input name="q" placeholder="Search ..." type="text"/>
            <button type="submit" aria-label="Search ...">
                <span class="fa fa-search" aria-hidden="true"></span>
            </button>
        </form>
        <ol>
            <li class="ctas">
                <a href="./login.html" class="primary">Login</a>
                <a href="./registration.html" class="secondary">Register</a>
            </li>
            <li class="user-profile-actions">
                <i class="far fa-user">
                    <ul>
                        <li>
                            <i class="far fa-edit"></i>
                            <a href="#">Profile</a>
                        </li>
                        <li>
                            <i class="fas fa-sign-out-alt"></i>
                            <form method="POST">
                                <button type="submit">Logout</button>
                            </form>
                        </li>
                    </ul>
                </i>
            </li>
        </ol>
    </div>
</header>

<div layout:fragment="content">
    <div id="signup" class="container">
        <h2>Sign Up using your social identity</h2>
        <p>We only need a few details to sign you up with an Exam Slammr account and create your user profile.</p>
        <p>Just confirm the details we've read from your <span th:remove="tag" th:text="${socialProvider}">social-provider</span> account and you are all set.</p>

        <form class="standard-form" th:action="@{/signup}" th:object="${form}" method="post">

            <div th:class="${true == showBindErrors &amp;&amp; #fields.hasErrors('firstName') ? 'error' : ''}">
                <label for="firstname">First name<span>*</span></label>
                <input type="text" id="firstname" required="true" th:field="*{firstName}"/>
                <span class="helpText">We need your first and last names just so we know how to address you when emailing you. This is a required field and should be
                        no longer than 30 characters.</span>
                <p th:if="${true == showBindErrors &amp;&amp; #fields.hasErrors('firstName')}" th:errors="*{firstName}">Firstname field cannot be blank</p>
            </div>

            <div th:class="${true == showBindErrors &amp;&amp; #fields.hasErrors('lastName') ? 'error' : ''}">
                <label for="lastName">Last name<span>*</span></label>
                <input type="text" id="lastName" required="true" th:field="*{lastName}"/>
                <span class="helpText">We need your first and last names just so we know how to address you when emailing you. This is a required field and should be
                        no longer than 30 characters.</span>
                <p th:if="${true == showBindErrors &amp;&amp; #fields.hasErrors('lastName')}" th:errors="*{lastName}">Lastname field cannot be blank</p>
            </div>

            <div th:class="${true == showBindErrors &amp;&amp; #fields.hasErrors('nickName') ? 'error' : ''}">
                <label for="nickname">Nickname<span>*</span></label>
                <input type="text" id="nickname" required="true" th:field="*{nickName}"/>
                <span class="helpText">We like our users to given themselves a nickname. We use this when displaying the author`s of questions or comments, and means
                            we don`t need to tell everyone your real name. This is a required field and should be no longer than 30 characters.</span>
                <p th:if="${true == showBindErrors &amp;&amp; #fields.hasErrors('nickName')}" th:errors="*{nickName}">Nickname field cannot be blank</p>
            </div>

            <div th:class="${true == showBindErrors &amp;&amp; #fields.hasErrors('email') ? 'error' : ''}">
                <label for="email">Email Address<span>*</span></label>
                <input type="email" id="email" required="true" th:field="*{email}"/>
                <span class="helpText">We need your email address so that we can send you emails to do with Exam Slammr questions and comments. That`s all we use it for,
                            and that`s a promise!. This is a required field and should be no longer than 64 characters.</span>
                <p th:if="${true == showBindErrors &amp;&amp; #fields.hasErrors('email')}" th:errors="*{email}">Email field cannot be blank</p>
            </div>

            <button type="submit">Sign me up</button>
        </form>

        <p>By Signing Up, you acknowledge that you have read our <a href="#">terms of service</a>, <a href="#">privacy policy</a> and <a href="#">cookie policy</a>,
            and that your continued use of the website is subject to these policies.</p>
    </div>
</div>

<script src="//code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
